.idea/*
data/*
output/*
cmake-build-*/*
tests/lib/*
tests/results/*
*.cbp
*.cmake
*.*~
Makefile
CMakeFiles/*
tests/CMakeFiles/*
tests/unit_tests/CMakeFiles/*
CMakeCache.txt
Castor.INFO
Castor.massimos*